@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base{
    html{
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;
}
.topNav.active{
    @apply bg-blue-600 text-gray-200
}
.sideNav.active{
    @apply bg-blue-100 text-blue-500 dark:bg-gray-800
}


*{
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 transparent;
}